# CHARINDEX(), SUBSTRING()

In [2]:
select top 5 * from movie_gross

movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
Fantasia,1940-11-13,Musical,G,83320000,2187090808
Song of the South,1946-11-12,Adventure,G,65000000,1078510579
Cinderella,1950-02-15,Drama,G,85000000,920608730

In [16]:
select top 5 movie_title + ' (' + genre + ')'
    from movie_gross

(No column name)
Snow White and the Seven Dwarfs (Musical)
Pinocchio (Adventure)
Fantasia (Musical)
Song of the South (Adventure)
Cinderella (Drama)

In [2]:
select top 5 movie_title + '(' + year(release_date) + ')'
    from movie_gross

: Msg 245, Level 16, State 1, Line 1
Conversion failed when converting the varchar value ')' to data type int.

In [14]:
select top 5 
    movie_title, release_date,
    datediff(year, release_date, getdate()),
    concat(movie_title, ' (', datediff(year, release_date, getdate()), ' year olds')
    from movie_gross

movie_title,release_date,(No column name),(No column name)
Snow White and the Seven Dwarfs,1937-12-21,82,Snow White and the Seven Dwarfs (82 year olds
Pinocchio,1940-02-09,79,Pinocchio (79 year olds
Fantasia,1940-11-13,79,Fantasia (79 year olds
Song of the South,1946-11-12,73,Song of the South (73 year olds
Cinderella,1950-02-15,69,Cinderella (69 year olds

In [1]:
select top 5 concat(movie_title, '(', year(release_date), ')')
    from movie_gross

(No column name)
Snow White and the Seven Dwarfs(1937)
Pinocchio(1940)
Fantasia(1940)
Song of the South(1946)
Cinderella(1950)

## CHARINDEX()

In [4]:
select top 5 * from director

movie_title,director
Snow White and the Seven Dwarfs,David Hand
Pinocchio,Ben Sharpsteen
Fantasia,full credits
Dumbo,Ben Sharpsteen
Bambi,David Hand

In [19]:
select top 10 director,
    charindex(' ', director) sep,
    substring(director, 1, charindex(' ', director) - 1) [first name],
    substring(director, charindex(' ', director) + 1, 100) [last name]
    from director

director,sep,first name,last name
David Hand,6,David,Hand
Ben Sharpsteen,4,Ben,Sharpsteen
full credits,5,full,credits
Ben Sharpsteen,4,Ben,Sharpsteen
David Hand,6,David,Hand
Jack Kinney,5,Jack,Kinney
Norman Ferguson,7,Norman,Ferguson
Jack Kinney,5,Jack,Kinney
Jack Kinney,5,Jack,Kinney
Clyde Geronimi,6,Clyde,Geronimi