In [11]:
CREATE VIEW [dbo].[vw_general_audience]
AS
    SELECT movie_title, release_date, genre, mpaa_rating, inflation_adjusted_gross
        FROM dbo.movie_gross
        WHERE mpaa_rating = 'G' AND genre = 'Adventure'

In [2]:

CREATE VIEW [dbo].[vw_movie_director]
AS
    SELECT m.movie_title, m.release_date, m.genre, m.mpaa_rating, m.total_gross, m.inflation_adjusted_gross, d.director
        FROM dbo.movie_gross AS m INNER JOIN
        dbo.director AS d ON m.movie_title = d.movie_title

: Msg 2714, Level 16, State 3, Procedure vw_movie_director, Line 2
There is already an object named 'vw_movie_director' in the database.